.box {
    border: 3px;
    display: flex;
    margin-top: 10px;
    
    
}

img {
    width: 400px;
    border-radius: 30px;
    height: 268px;
    margin-top: 10px;
    margin-left: auto;
}

.pen {
    border: 2px;
    width: 402px;
    margin-left: 15px;
    margin-top: 10px;
}

.book {
    border: 2px;
    width: 402px;
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

.door {
    border: 2px;
    width: 402px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.amg {
    border: 5px solid black;
    height: 300px;
    
    
}

.son {
    border: 2px;
    height: 280px;
    width: auto;
    display: flex;
}

.car {
    border: 2px;
    width: 300px;
    margin-left: 30px;
}

div {
    border-radius: 20px;
    
}

.logo {
    margin-right: 10px;
}

body {
    background: url("../index.html/img/logo.jpg");
}

p {
  color: honeydew;
}











